<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>

	<main class="valign-wrapper" style="width: 100%; height: 100%; position: absolute;">
    <div class="valign" style="width: 100%;">
			<div class="container">
				<div class="row">
					<div class="col s12 m6 offset-m3">
						<section class="card">
							<div class="card-content">
								<p class="card-title black-text center-align">Sign Up</p>
								<% if (errorMessage) { %>
									<div class="card-panel small z-depth-0 red accent-2 card-flash">
										<p class="white-text center-align"><%= errorMessage %></p>
									</div>
								<% } %>
								<form accept="/users/signup" method="POST">
									<div class="input-field s12">
										<input 
											id="email" 
											name="email" 
											type="email" 
											class="validate" 
											value="<%= oldInput.email %>"
										>
										<label for="email">Email</label>
									</div>
									<div class="input-field s12">
										<input 
											id="password" 
											name="password" 
											type="password" 
											class="validate" 
											value="<%= oldInput.password %>"
										>
										<label for="password">Password</label>
									</div>
									<div class="input-field s12">
										<select id="roles" name="role">
											<option value="user" selected>User</option>
											<option value="admin">Admin</option>
										</select>
										<label>Role</label>
									</div>
									<div class="center-align" style="margin-top: 2rem;">
										<button class="btn" type="submit">SIGN UP</button>
									</div>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
    </div>
	</main>

	<%- include('../includes/end.ejs') %>
