<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper indigo darken-3" style="padding: 0 2rem">
      <a href="/" class="hide-on-med-and-down">
        <img class="logo-img" src="/favicon.ico" alt="Logo KoLU" />
      </a>
      <a href="/" class="brand-logo">Inkubator</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>

      <!-- Desktop Navbar Menu -->
      <ul class="right hide-on-med-and-down">
        <% if (!isAuthenticated) { %>
          <li>
            <a
              class="<%= path === '/users/login' ? 'teal darken-1' : '' %>"
              href="/users/login"
            >
              LOGIN
            </a>
          </li>
          <li>
            <a
              class="<%= path === '/users/signup' ? 'teal darken-1' : '' %>"
              href="/users/signup"
            >
              SIGNUP
            </a>
          </li>
        <% } else { %>
          <li>
            <a
              class="<%= path === '/users' ? 'teal darken-1' : '' %>"
              href="/users"
            >
              USERS
            </a>
          </li>
          <li>
            <a
              class="<%= path === '/users/profile' ? 'teal darken-1' : '' %>"
              href="/users/profile"
            >
              PROFILE
            </a>
          </li>
          <li>
            <form id="form-logout" action="/users/logout" method="POST">
              <a href="#" id="btn-logout">LOGOUT</a>
            </form>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>

<!-- Mobile Navbar Menu -->
<ul class="sidenav" id="mobile-demo">
  <div
    class="valign-wrapper indigo darken-3"
    style="width: 100%; height: 10rem; margin-bottom: 1rem;"
  >
    <div class="valign" style="width: 100%">
      <div class="container">
        <div class="row" style="margin-bottom: 0">
          <div class="col s12 m6">
            <div class="hide-on-small-only">
              <img class="responsive-img" src="/favicon.ico" alt="Logo KoLU" />
            </div>
            <div class="hide-on-med-and-up">
              <img
                class="responsive-img"
                style="height: 8rem"
                src="/favicon.ico"
                alt="Logo KoLU"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (!isAuthenticated) { %>
    <li>
      <a
        class="<%= path === '/users/login' ? 'teal darken-1 white-text' : '' %>"
        href="/users/login"
      >
        LOGIN
      </a>
    </li>
    <li>
      <a
        class="<%= path === '/users/signup' ? 'teal darken-1 white-text' : '' %>"
        href="/users/signup"
      >
        SIGNUP
      </a>
    </li>
  <% } else { %>
    <li>
      <a
        class="<%= path === '/users' ? 'teal darken-1 white-text' : '' %>"
        href="/users"
      >
        USERS
      </a>
    </li>
    <li>
      <a
        class="<%= path === '/users/profile' ? 'teal darken-1 white-text' : '' %>"
        href="/users/profile"
      >
        PROFILE
      </a>
    </li>
    <form id="form-logout" action="/users/logout" method="POST">
      <li>
        <a href="#" id="btn-logout">LOGOUT</a>
      </li>
    </form>
  <% } %>
</ul>
